@import "tailwindcss";

@theme {
	--color-brand: #4f46e5;
}

@layer base {
	html,
	body,
	#root {
		height: 100%;
		margin: 0;
		padding: 0;
		overflow-x: hidden;
	}

	body {
		@apply font-sans antialiased text-gray-900 bg-gray-50;
	}

	button {
		cursor: pointer;
	}
}

@layer utilities {
	@keyframes shake {
		0%,
		100% {
			transform: translateX(0);
		}
		25% {
			transform: translateX(-4px);
		}
		75% {
			transform: translateX(4px);
		}
	}

	.animate-shake {
		animation: shake 0.2s ease-in-out 0s 2;
	}
}
