[build]
  command = "npm run build"
  publish = "client/dist"
  functions = "server/netlify/functions"

[functions]
  node_bundler = "esbuild"

[[redirects]]
  from = "/api/v1/*"
  to = "/.netlify/functions/api/api/v1/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
